<div class="product-card">
    <a href="{{ product.url }}">
        {% if product.featured_image %}
            <img src="{{ product.featured_image | image_url: width: 500 }}" alt="{{ product.featured_image.alt | default: '' }}" width="500" height="500">
        {% else %}
            <div>Image Coming Soon!</div>
        {% endif %}
    </a>
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | money }}</p>
    <p>{{ product.description }}</p>
    <a href="{{ product.url }}">
    >
    </a>
</div>