{%- if product != blank -%}

{%- assign product_url = product.url -%}

<div class="product-card">
  <a class="product-card__link" href="{{ product_url }}">
    <span class="visually-hidden">View {{ product.title }}</span>

    <div class="product-card__media">
      {%- render 'product-badge', product: product, show_badge: show_badge -%}

      {%- if product.featured_image != blank -%}
        {%- render
          'object-image',
          object_image: product.featured_image,
          class: 'product-card__image',
          fit: 'contain',
          sizes: '(min-width: 992px) 33vw, (min-width: 768px) 50vw, 100vw'.
          loading: 'lazy'
        -%}
      {%- else -%}
        <div class="product-card__image product-card__image--placeholder"></div>
      {%- endif -%}
    </div>

    <div class="product-card__content">
      <h3 class="product-card__title">{{ product.title }}</h3>

      {%- render 'price-product', product: product -%}

      {%- if show_description and product.description != blank -%}
        <p class="product-card__description" style="--product-card-description-lines: {{ description_lines | default: 3 }};">
          {{- product.description | strip_html | truncate: 180 -}}
        </p>
      {%- endif -%}

      {%- if show_link_icon -%}
        <div class="product-card__action">
          {%- render 'icon-button', direction: 'right', class: 'product-card__action-icon' -%}
        </div>
      {%- endif -%}
    </div>
  </a>
</div>

{%- endif -%}
