<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- render 'head.title-tag' -%}
    {%- render 'head.meta-tags' -%}

    {{ content_for_header }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    {{ 'theme.css' | asset_url | stylesheet_tag }}

    <script>
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">
      <a class="visually-hidden-focusable" href="#main">
        {{ 'accessibility.skip_to_text' | t }}
      </a>

      {%- sections 'header-group' -%}

      <main id="main" role="main" tabindex="-1">
        {{ content_for_layout }}
      </main>

      {%- sections 'footer-group' -%}
    </div>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </body>
</html>
