{%- render 'utility.make-section-placeholder', filename: 'product.liquid' -%}

<div class="container">
  <div class="pdp--above-the-fold row">
    <div class="slick-carousel col-lg-6 col-12">
      {% render 'pdp-slick-carousel' with product: product %}
    </div>
    <div class="product-info col-lg-6 col-12">
      <h1 class="product-title">{{ product.title }}</h1>
      <p class="product-price">{% render 'price', product: product %}</p>
      <p class="product-description">{{ product.description }}</p>
      <button class="button-atc">Add to Cart</button>
      <div class="accordion" id="productAccordion">
        {% for block in section.blocks %}
          {% if block.settings.title and block.settings.metafield_key and block.settings.metafield_namespace %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading-{{ block.id }}">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-{{ block.id }}"
                  aria-expanded="false"
                  aria-controls="collapse-{{ block.id }}"
                >
                  {{ block.settings.title }}
                </button>
              </h2>
              <div
                id="collapse-{{ block.id }}"
                class="accordion-collapse collapse"
                aria-labelledby="heading-{{ block.id }}"
                data-bs-parent="#productAccordion"
              >
                <div class="accordion-body">
                  {{ product.metafields[block.settings.metafield_namespace][block.settings.metafield_key] | metafield_tag}}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- schema -%}
{
  "name": "Product",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Accordion Title",
          "default": "Accordion Title"
        },
        {
          "type": "text",
          "id": "metafield_namespace",
          "label": "Metafield Namespace",
          "default": "custom"
        },
        {
          "type": "text",
          "id": "metafield_key",
          "label": "Metafield Key",
          "default": "product_details"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product",
      "blocks": [
        {
          "type": "accordion",
          "settings": {
            "title": "Product Details",
            "metafield_key": "product_details",
            "metafield_namespace": "accordion"
          }
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{%- endschema -%}
